# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
ENV/

# Django sensitive files
db.sqlite3
.env
local_settings.py

# Media and Static
/static/
/media/

# OS specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

home_ssh
home_ssh.pub

# Docker
.dockerignore
# Ignore the actual data folder if you persist Postgres data to a local volume
postgres_data/

# Static and Media
# We ignore the 'staticfiles' folder where 'collectstatic' dumps files
/staticfiles/

# Logs
*.log
logs/

# Windows specifics
desktop.ini
$RECYCLE.BIN/

# Documentation/Backups
*.bak
*.swp