# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
ENV/

# Django sensitive files
db.sqlite3
.env
local_settings.py

# Media and Static
/static/
/media/

# OS specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/